
body{
    background-image: linear-gradient(135deg, rgb(122, 120, 120),rgb(255, 116, 139))
    
    
}
.container-main{
    margin-right: 0px;
    margin-left: 0px;
    
}
.navbar{
    font-family: 'Raleway', sans-serif;
}
a.navbar-brand{
    color:white !important
}
a.nav-link{
    color:white !important
}

.landing{
    background-position: center;
    /* background-image: url("../images/roses.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%; */
    height: 400px;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    position: relative;
    object-fit: contain;
    
}
.text-block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}
.name{
    font-size: 100px;
}
#title{
    font-size: 20px;
}
.about{
    
    height: auto;
    position: relative;
}
.projects{
    
    position: relative;
}
.contact{
   text-align: center;
    position: relative;
}



.jumbotron{
    background-color: transparent !important;
    font-family: 'Raleway', sans-serif;
    color:white;
    text-align: center;
    padding:40px;
    margin: 50px;
    
}

#timeline-heading{
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 15px;
  margin-top: 150px
}


   
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: #d4d4d4;
  }
  
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  
  
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  
  .timeline-body > p + p {
    margin-top: 5px;
  }

  .img-project{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.project-title{
  font-family: inherit;
  color: black;
  text-align:center
}

.margin-all-projects{
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 30px;
  margin-top: 150px

}

.col-sm{
  margin-left: auto;
    margin-right: auto;
    display: block;
 
}

.project-description{
  text-align: center;

}

.contact-me{
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 15px;
  margin-top: 150px
}

.font-awesome-links a{
  color: white;
  padding: 20px;
}

.contact{
  padding: 20px
}


#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 16px;
  border: white 1px;
  outline: none;
  background-color: rgb(255, 116, 139);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  opacity: .7;
}

#scrollTopBtn:hover {
  background-color: #555;
}


