/* Body */


body {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    min-height: 400px;
    margin-bottom: 50px;
    background-color: lightcoral;
    }
    /* General */
    
    html {
        background: lightcoral;
        background-size: cover;
       
    }
.row {
    background-color: lightcoral;
    height: 15px;
    margin: 0px;
}

.largeContainer {
    width: 960px;
    margin: 0px auto;
    position: realtive;
}
.row1 {
    width: 960px;
    background-color: lightcoral;
    float: left;
    
}

.col-8-sm {
    width: 640px;
}
.container {
    background-color: #ffffff;
    width: 640px;
 }
.page-header {
    float: left;
    width: 100%;
    margin-top: 0;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: #ffffff;
    
}

.aboutMeContent {
    float: left;
    width: 100%;
    padding-bottom: 15px;
}

img {
    float: left;
    margin: 10px;
   
}

.col-sm-1 {
    background-color: lightcoral;
    float: left;
    width: 80px;
    height: 100%;
    margin: 0px;
}

.panel {
    text-align: center;
    width: 100%;
    margin: 0px;
    
}
.col-sm-3 {
    background-color: lightcoral;
    height: auto;
    float: left;
    width: 240px;
}
i {
    margin: 10px;
}

.panel-heading {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;  
}

.panel-brand {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* Navbar styling */

.navbar-brand {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    text-align: center;
    
}

.navbar {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border: none;
  
}

.container-fluid {
    padding-bottom: 0px;
    border-bottom: 0px;
}

p {
    margin: 10px;
}

/*contact page*/

.contactform {
    background-color: #ffffff;
    padding: 10px;
}

#name, #email, #message {
    border: solid 1 px;
    border-color: #666666;
    width: 580px;
}




/* Footer */
.panel-footer {
    background-color: #666666;
    color: #ffffff;
    font: x-small;
    border-top: 8px solid #4aaaa5;
    padding-top: 20px;
    text-align: center;
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width:959px){
    .navbar {
        width: 100%;
    }
    .largeContainer {
        width: 100%;
    }
    .container {
        width: 66.66%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-3 {
        width: 25%;
        margin-bottom: 100px;
        align: center;
        margin-top: 20px;
    }
    .panel {
        width: 100%;
    }
    .panel-footer {
        width: 100%;
    }
    .img {
        width: 100%;
    }
}

@media screen and (max-width:640px){
    .col-sm-8 {
        width: 100%;
    }
    .col-sm-1 {
        width: 0%;
    }
    .col-sm-3 {
        width: 100%;
    }
}

@media screen and (max-width:320px){
    body {
        width: 320px;
    }
}