/* Style for all pages */

html {
    background: lightcoral;
    background-size: cover;
   
}


body{
    width: 960px;
    background-color: #ffffff;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #dddddd;
    margin: auto;
}

/* NAVBAR */

.navbar-header {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    text-align: center;
    
}

.active a {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    
}

/*about me section*/

.page-header {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 0px;
    padding-top: 0px;
}


#container {
    width: 960px;
    background-color: #ffffff;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #dddddd; 

}

.text {
    padding: 20px;
    padding-top: 0px;
}
/* START code for contact page! */

.contact {
    width: auto;
    padding: 20px;
    padding-top: 30px;
    border: #666666;
    margin: 0px;
    text-align: left;
    

    /*come back to add border*/

}

#name, #email, #message {
    width: 800px;
    margin-bottom: 20px;
    
}

/*add code for submit button*/

/* END code for contact page! */


/* START code for portfolio page */

.maincontent {
    width: auto;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;

    padding: 20px;
    padding-top: 30px;
    padding-bottom: 50px;

    border-bottom: 20px;
    border-style:solid;
    border-color: #4aaaa5;
   
}

.container1 {
    position: relative;
    text-align: center;
    width: 40%;
}
.centered1 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4aaaa5;
    width: 69%;
    padding: 15px;
    color: #ffffff;
}

.container2 {
    position: relative;
    text-align: center;
    color: white;
    width: 40%;
    
}

.centered2 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4aaaa5;
    width: 69%;
    padding: 15px;
}

.container3 {
    position: relative;
    text-align: center;
    color: white;
    width: 40%;
    
}

.centered3 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4aaaa5;
    width: 69%;
    padding: 15px;
}

.container4 {
    position: relative;
    text-align: center;
    color: white;
    width: 40%;
    
}

.centered4 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4aaaa5;
    width: 69%;
    padding: 15px;
}

.container5 {
    position: relative;
    text-align: center;
    color: white;
    width: 40%;
    
}

.centered5 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4aaaa5;
    width: 69%;
    padding: 15px;
}

/* END code for portfolio page */

/* START code for INDEX page */

.aboutme {
    width: 960px;
    padding: 15px;
    background-color: #ffffff;

}

#profilepic{
    float: left;
    margin: 15px;
    margin-top: 0px;
    margin-left: 0px;
}

p {
    line-height: 1.5;
}




/* START code for footer */

.panel-footer {
    background-color: #666666;
    color: #ffffff;
    font: x-small;
    border-top: #4aaaa5;
    border: 10px;
    padding-top: 20px;
    text-align: center;
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

